* {
    margin: 0;
}

body {
    background: #2d2d2d;
}

.position-container {
    width: 340px;
    height: 300px;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 50px;
}

.cats {
    width: 75px;
    height: 200px;
    border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.arbol {
    width: 180px;
    height: 300px;
    border: 1px solid red;

    display: flex;
    justify-content: center;
}