* {
    margin: 0;
}

body {
    background: #2d2d2d;
}

.center {
    display: flex;
    position: relative;
    left: 50px;
    top: 30px;
}

.back {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    border: 4px solid #293139;
    overflow: hidden;
}

.back img {
    overflow: hidden;
    position: relative;
    left: -10px;

}

.cat {
    position: relative;
}

.position-container {
    width: 250px;
    height: 300px;
    position: relative;
    top: 0px;
    left: -250px;
}

.luni {
    bottom: -220px;
}

.arbol {
    top: 30px;
    left: 60px;
}

.luni {
    top: -10px;
    left: 35px;
}

.pichuli {
    top: -250px;
    left: 35px;
}

.greti {
    top: -180px;
    left: 180px;
}

.mumi {
    top: -220px;
    left: 180px;
}